.first-section {
    text-align: center;
    background-image: url(images/donation11.jpg);
    color: whitesmoke;
    height: 400px;
}

body {
    margin: 0;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Lobster', cursive;
}

.text-declaretion {
    padding: 40px 20px;
}

.text-declaretion p {
    margin-left: 20%;
    margin-right: 15%;
}

h1 {
    font-size: 40px;
}

.donate-button {
    background-color: #FF5959;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    border: none;
}

.secend-part {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}

.third-part {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.amount {
    margin: 2% 2%;
    box-shadow: 5px 5px 10px rgb(190, 185, 185);
    padding: 1% 2%;
    border-radius: 5px;
    margin-left: 5%;
}

.extra {
    border: 3px solid rgb(245, 119, 73);
    background-color: rgb(214, 157, 136);
}

h6 {
    text-align: center;
    color: lightgray;
    border-bottom: 1px solid lightgrey;
    margin-left: 15%;
    margin-right: 15%;
}

.four-section {
    text-align: center;
    margin-bottom: 100px;
}

.fifth-section {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.half-width {
    margin: 1% 2%;
    text-align: justify;
    background-color: rgb(214, 161, 141);
    padding: 5px 10px;
    border-radius: 5%;
}

.half-width img {
    width: 20%;
}

.six-section {
    display: flex;
    margin: 3% 5%;
    padding: 2% 3%;
}

.single-width {
    width: 50%;
}

.text {
    padding-right: 5%;
}

.single-width img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
}

.text-part {
    margin-left: 5%;
}

.seven-part {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: bisque;
    padding: 50px 80px;
    border-radius: 5px;
}

.seven-part input {
    background-color: rgb(180, 167, 192);
    border: none;
    padding: 1% 3%;
    border-radius: 3px;
}

.button-part {
    display: flex;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

footer h3 {
    color: orangered;
}

footer p {
    color: cornflowerblue;
}

#food {
    background-color: #EDF5F6;
}

#shelter {
    background-color: #FFEEEE;
}

#education {
    background-color: #FFF4D6;
}

.extra-part {
    display: flex;
    margin: 10px 30px;
}

.third-width img {
    width: 100%;
}

.third-width {
    width: 50%;
    margin: 2% 3%;
    box-shadow: 5px 5px 20px gray;
    padding: 1% 2%;
    border-radius: 10px;
}

.third-width p {
    color: cadetblue;
}